.auth {
  background-color: #fff;
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100px;
  overflow: auto;
}

.auth__inner {
  display: flex;
  flex-direction: column;
  height: inherit;
  padding-top: 82px;
  max-width: 460px;
  margin: 0 auto;
  width: 100%;
}

.auth__title {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 55px;
}

.auth__form {
  position: relative;
  width: 100%;
}

.auth__form-item {
  display: block;
  margin-bottom: 22px;
}

.auth__lbl {
  display: block;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.auth__form-input {
  border: 1px solid #101010;
  height: 57px;
}

.auth__form-input input {
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
}

.auth__form-input.is-error {
  border-color: #ff0000;
  box-shadow: 0 0 5px -1px #d47a78;
}

.auth__form-note {
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 40px;
}

.auth__form-note span {
  cursor: pointer;
  color: #101010;
  font-weight: bold;
  text-decoration: none;
}

.auth__form-note.is-animate span {
  animation: register 0.5s infinite;
}

@keyframes register {
  from {color: #101010;}
  to {color: #ff0000;}
}

.auth__form-note span:hover {
  text-decoration: underline;
}
.auth__form-error {
  display: block;
  color: #ff0000;
  margin: 5px 0 10px;
}
