.post__list {
  display: flex;
  flex-wrap: wrap;
}

.post__item {
  border: 1px solid #101010;
  width: calc(91% / 3);
  margin-bottom: 5.3%;
}

.post__item:not(:nth-child(3n)) {
  margin-right: 4.5%;
}

.post__article {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.post__article-link {
  text-decoration: none;
  color: #101010;
  display: block;
  position: relative;
  height: 100%;
  padding: 40px 30px;
  width: 100%;
}

.post__article-thumb {
  background-size: cover;
  background-position: center;
  /* height: 200px; */
  padding-bottom: 72%;
  margin-bottom: 27px;;
  width: 100%;
}

.post__article-date {
  display: block;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 12px;
}

.post__article-title {
  display: block;
  display: -webkit-box;
  line-height: 1.6;
  font-size: 20px;
  font-weight: bold;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
